/* Determin Grid Widths */
:root {
	--main: 40rem;
	--aside: 20rem;
	--gutter: 10rem;
	--full-width: calc(var(--main) + (2 * var(--aside)) + (2 * var(--gutter)));
	--part-span: calc(var(--main) + var(--aside));
}

/* Width / Column Utility Classes */

.full-width {
	max-width: var(--full-width);
	width: 100%;
}

.main-col {
	max-width: var(--main);
	width: 100%;
}

.right-side {
	float: right;
	max-width: var(--aside);
	width: 100%;
}

.left-side {
	float: left;
	max-width: var(--aside);
	width: 100%;
}

.part-span {
	max-width: var(--part-span);
	width: 100%;
}

/* Layout & Element Styling */

#article-body {
	grid-column: 1 / -1;
}

main.article * {
	margin-left: auto;
	margin-right: auto;
}

.article p,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
#article-body ul,
#article-body ol,
.footnotes ul,
.footnotes ol {
	max-width: var(--main);
	line-height: 2;
}

.article h2 {
	background: linear-gradient(90deg, var(--blue), var(--lightblue));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: var(--blue); /* fallback if gradients aren't suppported */
}

.article h3 {
	background: linear-gradient(90deg, var(--green), var(--lightblue));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: var(--green); /* fallback if gradients aren't suppported */
}

.article code {
	padding: 0 0.2em;
	font-size: 1.05em;
	color: var(--orange);
	font-weight: bold;
}

.article pre {
	max-width: var(--part-span);
	padding: 1rem 3rem;
	overflow-x: auto;
	background-color: var(--darkgrey);
	border-left: 5px solid var(--orange);
	border-image: linear-gradient(180deg, var(--orange), var(--yellow)) 1;
	color: var(--yellow);
	line-height: 2.2;
	tab-size: 4;
	white-space: pre;
}

.article kbd {
	padding: 0.1em 0.3em 0;
	border: 1px solid var(--grey);
	border-radius: 6px;
	color: var(--green);
}

.article blockquote {
	position: relative;
	max-width: var(--part-span);
	padding: 2rem;
	font-size: 1.5rem;
	font-family: "Times New Roman", serif;
	line-height: 2;
	text-align: center;
	font-style: italic;
	quotes: "“" "”";
}

.article blockquote::before {
	content: open-quote;
	display: inline-block;
	transform: translateY(0.25rem);
	margin-right: 1.25rem;
	margin-left: -3rem; /* allows position to spill into gap for article details */
	font-size: 4rem;
	color: var(--orange);
	line-height: 0;
}

.article blockquote::after {
	content: close-quote;
	position: absolute;
	bottom: -2rem;
	right: 0;
	margin-left: 1.25rem;
	font-size: 4rem;
	color: var(--lightblue);
}

.article figure {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.article figure img {
	margin: 0 0 0 auto;
}

.article figure figcaption {
	max-width: 20rem;
	margin: 2rem auto 0 2rem;
	padding-left: 1rem;
	padding-bottom: 0.25rem;
	border-left: 3px solid var(--lightblue);
	font-size: 0.8rem;
	color: var(--lightblue);
}

.article del,
.article del code {
	color: var(--grey);
}

.article a {
	color: var(--pink);
	text-underline-offset: 0.1em;
	text-decoration-thickness: 0.1em;
}

.article a:visited {
	color: var(--green);
}

.article a:not(.footnote-return):hover {
	font-style: italic;
	letter-spacing: 0.01em;
}

.article sup {
	scroll-margin-top: 3rem;
}

.article sup a:not(.footnote-return):hover {
	font-style: normal;
	color: var(--orange);
}

/* Article Details */

.article-details {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	max-width: 100%;
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	position: relative;
	z-index: 1; /* fixes overlap with blockquotes making links unclickable */
}

.article-details li {
	width: 100%;
	line-height: 2;
	color: var(--yellow);
}

.article-details li:nth-of-type(even) {
	color: var(--green);
}

.article-details li:nth-of-type(even) a {
	display: inline-block;
	margin-left: 0.25em;
	color: var(--grey);
	text-decoration: none;
}

/* Article Footnotes */

.footnotes {
	counter-reset: footnote;
}

.footnotes > aside > *:first-child::before {
	counter-increment: footnote;
	content: "[" counter(footnote) "] ";
}

.footnote-return {
	text-decoration: none;
}

/* Mobile Breakpoints */

@media screen and (min-width: 275px) {
	.article-details {
		grid-template-columns: minmax(5rem, 7rem) minmax(10rem, 1fr);
	}
}

/* Desktop */

@media screen and (min-width: 599px) {
	.article-details {
		display: block;
		max-width: var(--aside);
		padding-left: 2.5rem;
		text-align: right;
	}

	.article-details li {
		width: auto;
		margin-right: 3rem;
	}
}
