/* Determin Grid Widths */
:root {
    --main:         40rem;
    --aside:        20rem;
    --gutter:       10rem;
    --full-width:   calc(var(--main) + (2 * var(--aside)) + (2 * var(--gutter)));
    --part-span:    calc(var(--main) + var(--aside));
}

/* Layout & Element Styling */

#content.article {
    grid-column: 1 / -1;
}

main.article * {
    margin-left: auto;
    margin-right: auto;
}

.article p, .article h2, .article h3, .article h4, .article h5, .article h6, .article article ul {
    max-width: var(--main);
    line-height: 2;
}

.article h2 {
    background: linear-gradient(90deg, var(--blue), var(--lightblue));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--blue); /* fallback if gradients aren't suppported */
}

.article h3 {
    background: linear-gradient(90deg, var(--green), var(--lightblue));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--green); /* fallback if gradients aren't suppported */
}

.article pre {
    max-width: var(--part-span);
    padding: 1rem 3rem;
    overflow-x: auto;
    background-color: var(--darkgrey);
    border-left: 5px solid var(--orange);
    border-image: linear-gradient(180deg, var(--orange), var(--yellow)) 1;
    color: var(--yellow);
    font-family: monospace, sans-serif;
    line-height: 2.2;
    tab-size: 4;
}

.article blockquote {
    position: relative;
    max-width: var(--part-span);
    padding: 2rem;
    font-size: 1.5rem;
    font-family: "Times New Roman", serif;
    line-height: 2;
    text-align: center;
    font-style: italic;
    quotes: "“" "”";
}

.article blockquote::before {
    content: open-quote;
    position: absolute;
    top: -1rem;
    left: 0;
    margin-right: 1.25rem;
    font-size: 4rem;
    color: var(--orange);
}

.article blockquote::after {
    content: close-quote;
    position: absolute;
    bottom: -2rem;
    right: 0;
    margin-left: 1.25rem;
    font-size: 4rem;
    color: var(--lightblue);
}

.article figure {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

.article figure img {
    margin: 0 0 0 auto;
}

.article figure figcaption {
    max-width: 20rem;
    margin: 2rem auto 0 2rem;
    padding-left: 1rem;
    padding-bottom: 0.25rem;
    border-left: 3px solid var(--lightblue);
    font-size: 0.8rem;
    color: var(--lightblue);
}

/* Article Details */

.article-details {
    margin-top: 0;
    text-align: right;
    list-style: none;
}

.article-details li {
    margin-right: 3rem;
    line-height: 2;
    color: var(--yellow);
}

.article-details li:nth-of-type(even) {
    color: var(--green);
}

.article-details li:nth-of-type(even) a {
    color: var(--grey);
    text-decoration: none;
}

/* Article Footnotes */

.footnotes {
    counter-reset: footnote;
}

.footnotes p::before {
    counter-increment: footnote;
    content: "[" counter(footnote) "] ";
}

/* Width / Column Utility Classes */

.full-width {
    max-width: var(--full-width);
    width: 100%;
}

.main-col {
    max-width: var(--main);
    width: 100%;
}

.right-side {
    float: right;
    max-width: var(--aside);
    width: 100%;
}

.left-side {
    float: left;
    max-width: var(--aside);
    width: 100%;
}

.part-span {
    max-width: var(--part-span);
    width: 100%;
}