/* Global Variables */
:root {
    --green:        #A3BF3B;
    --lightblue:    #2ABFB0;
    --blue:         #1B7EA6;
    --orange:       #F29F05;
    --yellow:       #F2C12E;
    --pink:         #F22E62;

    --grey:         #d8d8d8;
    --darkgrey:     #1D2A34;
    --lightgrey:    #F8F8F8;
}

/* General reset to Box-Model */
*, ::before, ::after { box-sizing: border-box; }

/* Define text in responsive font-sizes */
h1 {
    font-size: 2rem;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1.00rem;
}
h5 {
    font-size: 0.83rem;
}
h6 {
    font-size: 0.67rem;
}
p {
    font-size: 1rem;
}

/* Improve readability - uses em to allow for variable font size */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, address{
    line-height: 1.5em;
}

/* General fixes */
pre {
    white-space: pre-wrap; /* Overflow by default is bad. */
}
hr {
    border: .5px solid;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Multimedia */
img, video, canvas, audio, iframe, embed, object  { 
    display: block;
}
img, video {
    max-width: 100%; /* Make images and video flexible by default. */
    height: auto; /* Ensure images and video maintain their aspect ratio when max-width comes into play. */
}
img {
    border-style: none; /* Remove the border on images inside links in IE 10 and earlier. */
}

/* Utility Classes */
.flat-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}

.flat-list > li + li {
    margin-left: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body > div > div {
    background-color: var(--lightgrey);
    color: hsl(212, 20%, 20%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto minmax(auto, 3rem) auto auto minmax(100px, max-content);
    grid-template-areas: 
        "header header header header header header header header header header"
        "nav nav nav nav nav nav nav nav nav nav"
        "about about about about about about about sidebar sidebar sidebar"
        "content content content content content content content sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer";
}

#header {
    grid-area: header;
    padding: 2rem 1rem;
    background-color: var(--lightgrey);
    border-top: 10px solid var(--pink);
    border-image: linear-gradient(90deg, var(--blue), var(--lightblue), var(--green), var(--yellow), var(--orange), var(--pink)) 1;
    text-align: center;
}

#header img {
    margin: 0 auto;
    max-height: 10rem;
}

#header a {
    color: black;
    text-decoration: none;
}

#header a h1 {
    color: black;
    background-image: linear-gradient(90deg, black 15%, var(--blue), var(--lightblue), var(--green), var(--yellow), var(--orange), var(--pink), black 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: left center;
    background-size: 400% auto;
}

#header a:hover h1 {
    background-position: right center;
    color: #ef9671;
    animation: hoverColour 3000ms ease-in-out infinite;
}

@keyframes hoverColour {
    from {
        background-position: left center;
    }

    to {
        background-position: right center;
    }
}

#nav {
    grid-area: nav;
    background-color: #000;
    color: #fff;
}

#nav a {
    color: #fff;
}

#nav > ul {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#nav > ul li {
    padding: 0.5rem;
}

#about {
    grid-area: about;
    padding: 2rem;
    background-color: #ffffff;
}

#about h1 {
    color: var(--pink);
    margin-bottom: 0;
}

.profile_photo {
    max-width: 12rem;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
    shape-outside: circle(50%);
} 

#content {
    grid-area: content;
    padding: 2rem;
    background-color: white;
}

#content > header {
    margin-bottom: 2rem;
    border-bottom: 5px solid var(--orange);
    border-image: linear-gradient(90deg, var(--orange), var(--yellow)) 1;
}

#content h1 {
    display: inline-block;
    margin: 0 0 0.2rem 0;
    background: linear-gradient(90deg, var(--orange), var(--yellow));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: var(--orange); /* fallback if gradients aren't suppported */
}

#content > article {
    /* background-color: rgba(0, 0, 0, 0.637) */
}

#sidebar {
    grid-area: sidebar;
    padding: 2rem;
}

#footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 4rem 1rem;
    background-color: var(--darkgrey);
    color: var(--pink);
}

#footer section {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
    background: linear-gradient(90deg, var(--orange), var(--pink));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#footer h1 {
    width: 100%;
}

#footer p {
    min-width: 10rem;
    text-align: center;
}

#footer a {
    color: var(--grey);
    text-decoration: none;
}

#footer img {
    height: 50px;
    margin: 1rem auto;
}

.copyright {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2rem;
}

/* Index Content Grid */

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 3rem;
}

/* Desktop */

@media screen and (min-width: 400px) {
    #footer section {
        min-width: 399px;
    }
    
}
