.note > footer {
    padding-bottom: 0.99rem;
    text-align: right;
}

.note > footer ul,
.note > footer p,
.note > footer span,
.note > footer a {
    font-size: 0.8rem;
}

.note > footer a {
    text-decoration: none;
}

.note > footer ul {
    justify-content: end;
}

.note > footer li {
    margin: 0;
}

/* Mobile */

@media screen and (min-width: 275px) {


}

/* Desktop */

@media screen and (min-width: 599px) {

    .note {
        display: grid;
        grid-template-columns: 65% 1fr;
        grid-template-columns: minmax(50%, 65%) minmax(150px, 1fr);
        grid-column-gap: 5%;
        /* grid-column-gap: 5rem; */
    }

    .note > header h2 {
        margin-bottom: 1rem;
    }

    .note > article {
        grid-column: 1;
    }

    .note > article > *:first-child {
        margin-top: 0;
    }

    .note > footer {
        grid-column: 2;
        grid-row: 1 / 3;
        align-self: end;
        padding-bottom: 0.99rem;
        text-align: right;
    }

}

@media screen and (min-width: 1550px) {
    .note {
        grid-column-gap: 5rem;
    }
}