/* Header */
.review-header > h1 + span {
	display: block;
	width: var(--main);
	margin-top: 0.75rem;
}

/* Series Navigation */

.series-nav {
	width: var(--main);
}

.series-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
}

.series-nav li {
	margin: 0;
	padding: 0;
}

.series-nav li + li {
	margin-left: 1.5rem;
}

.series-nav a {
	display: inline-block;
	padding: 0.5rem;
	border: 2px solid var(--green);
	border-radius: 6px;
	text-decoration: none;
	line-height: 0.6;
	color: var(--green);
}

.article nav.series-nav ul li a:hover {
	font-style: normal;
	letter-spacing: normal;
}

.active-series,
a.active-series:visited,
a.active-series:active {
	background-color: var(--green);
	color: #ffffff;
}
