.conversation {
	max-width: var(--main);
}

.conversation article {
	display: grid;

	grid-template-columns: 1fr;
	align-items: center;
	text-align: left;
	margin-bottom: 1.5rem;
}

.conversation article > img {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	align-self: baseline;
	margin-left: 0;
	margin-top: 0.8rem;
}

.conversation article header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: end;
	width: 100%;
	margin: 0;
}

.conversation article header h2 {
	margin: 0;
}

.conversation article header a {
	margin: 0 0 1rem;
	font-size: 0.8rem;
	text-decoration: none;
}

.conversation article > section {
	width: 100%;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--lightblue);
}

.conversation article footer {
	display: flex;
	font-size: 0.8rem;
	color: var(--lightblue);
	text-align: right;
	align-self: end;
	width: 100%;
	margin-bottom: 1rem;
}

.conversation article footer p {
	font-size: 0.8rem;
	margin: 0;
}

/* Tablet Breakpoints */

@media screen and (min-width: 1425px) {
	.conversation {
		max-width: var(--part-span);
	}

	.conversation article {
		grid-template-columns: minmax(4rem, 1fr) minmax(10rem, var(--main)) minmax(3rem, 1fr);
	}

	.conversation article > img {
		grid-row: 1 / 3;
		margin-right: 1rem;
		margin-left: auto;
	}

	.conversation article header {
		flex-direction: row;
		align-items: center;
	}

	.conversation article header a {
		margin: 0 1em -0.5rem;
	}

	.conversation article > section {
		grid-column: 2 / 3;
	}

	.conversation article footer {
		grid-column: 3 / 4;
		flex-direction: column;
	}
}

/* Final Breakpoints */

@media screen and (min-width: 1725px) {
	.conversation article {
		grid-template-columns: minmax(5rem, var(--gutter)) minmax(10rem, var(--main)) minmax(3rem, 1fr);
	}

	.conversation article > img {
		height: 5rem;
		width: 5rem;
		margin-right: auto;
	}
}
