/* Content Cards */

.content-card {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid var(--lightblue);
    border-image: linear-gradient(90deg, var(--lightblue), var(--blue)) 1;
}

.content-card h2 {
    margin: 0;
    padding: 0.25rem 1rem 0.5rem 1rem;
    background-image: linear-gradient(90deg, var(--blue), var(--lightblue));
    color: white;
}

.content-card article {
    flex: 1;
    margin: 1rem 0;
    padding: 0 0.75rem;
}

.content-card footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.content-card footer * {
    margin: 0;
}

.content-card footer > * {
    padding: 1rem;
}

.content-card footer p, .content-card footer a {
    height: 100%;
    padding: 0.5rem;
    background-color: var(--orange);
    border-radius: 0.5rem;
    text-align: center;
    line-height: 1.6em;
}

.content-card footer a {
    margin: 0 0.25rem 0 0.75rem;
}

.content-card footer a:hover {
    background-color: var(--yellow);
}

.content-card footer > p:nth-of-type(1) {
    margin: 0 1rem 0 0.25rem;
    background-color: var(--lightblue);
}

.content-card footer > p:nth-of-type(2) {
    grid-column: 1 / 3;
    position: relative;
    margin: 0 1rem 0 0.75rem;
    padding: 0.2rem 0 0 0;
    background-color: transparent;
    color: #000000;
}

.content-card footer > p:nth-of-type(2) span {
    position: relative;
    z-index: 1;
    padding: 0 1rem;
    background-color: #ffffff;
    color: #d8d8d8;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.content-card footer > p:nth-of-type(2)::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 0.1rem);
    z-index: 0;
    width: 100%;
    height: 3px;
    background-color: #d8d8d8;
}

.content-card footer ul {
    grid-column: 1 / 3;
    padding-top: 0;
    padding-left: 0.25rem;
}

.content-card footer li {
    flex: 1;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--blue);
    white-space: nowrap;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.content-card footer a {
    text-decoration: none;
    color: #ffffff;
}