/* Content Cards */

.content-card {
	display: flex;
	flex-direction: column;
	border-bottom: 5px solid var(--lightblue);
	border-image: linear-gradient(90deg, var(--lightblue), var(--blue)) 1;
}

.content-card h2 {
	margin: 0;
	padding: 0.25rem 1rem 0.5rem 1rem;
	background-image: linear-gradient(90deg, var(--blue), var(--lightblue));
	color: white;
}

.content-card article,
.content-card > p,
.content-card > div {
	flex: 1;
	margin: 1rem 0;
	padding: 0 0.75rem;
}

.content-card footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
	padding: 0 1rem 1rem 0.75rem;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.content-card .card-divider {
	grid-column: 1 / 3;
	display: flex;
	position: relative;
	margin-top: 0;
	margin-bottom: 0.1rem;
	padding: 0.2rem 0 0 0;
	background-color: transparent;
	color: #000000;
	justify-content: center;
}

.content-card .card-divider span {
	position: relative;
	z-index: 1;
	padding: 0 1rem;
	background-color: #ffffff;
	color: var(--grey);
	font-size: 0.75rem;
	text-transform: uppercase;
}

.content-card .card-divider::before {
	content: "";
	display: block;
	position: absolute;
	top: calc(50% + 0.1rem);
	z-index: 0;
	width: 100%;
	height: 3px;
	background-color: var(--grey);
}

.content-card footer ul {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.card-button {
	flex: 1;
	padding: 0.5rem;
	background-color: var(--orange);
	border-radius: 0.5rem;
	line-height: 1.6;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	color: #ffffff;
}

.card-button.card-tag {
	margin: 0;
	background-color: var(--blue);
	line-height: 2;
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
}

.card-tag:last-child:nth-child(odd) {
	grid-column: 1 / -1;
}

.card-button.card-info {
	margin: 0;
	background-color: var(--lightblue);
}

.content-card a.card-button:hover {
	background-color: var(--yellow);
}
