.search_box {
	display: flex;
	align-items: center;
}

.search_box input {
	width: 90%;
	flex-grow: 1;
	border-radius: 6px;
	border: double 3px transparent;
	padding: 0.5rem;
	margin-right: 0.5rem;
	background-clip: padding-box, border-box;
	background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(90deg, var(--orange), var(--yellow));
	background-origin: border-box;
	color: var(--darkgrey);
}

.search_box input:focus {
	background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(90deg, var(--orange) 20%, var(--yellow), var(--blue), var(--lightblue), var(--green), var(--yellow), var(--orange), var(--pink), var(--pink), var(--orange) 75%);
	background-position: right center;
	background-size: 400% auto;
	animation: hoverSearch 5000ms ease-in-out infinite;
	outline: none;
}

@keyframes hoverSearch {
	from {
		background-position: left center;
	}

	to {
		background-position: right center;
	}
}

.search_box button {
	font-size: 1.2rem;
	padding: 0.3rem;
	border: 0;
	background-color: var(--blue);
	border-radius: 3px;
	cursor: pointer;
}

.category_list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
	padding: 0;
}

.category_list label {
	position: relative;
	background-color: var(--green);
	padding: 0.2rem 0.4rem;
	border-radius: 6px;
	display: inline-block;
	height: 1.5rem;
	font-size: 0.8rem;
	line-height: 0;
	color: #ffffff;
}

.category_list label input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.category_list label span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 1.5rem;
	margin-left: 1rem;
	margin-top: -0.2rem;
	margin-right: -0.4rem;
	border-radius: 0 6px 6px 0;
	background-color: var(--lightgrey);
	color: vaR(--green);
	border: 2px solid var(--green);
}

.search_results {
	min-height: 20rem;
	margin: 0;
	padding: 0;
}
