.search_box {
	display: flex;
	align-items: center;
}

.search_box input {
	width: 90%;
	flex-grow: 1;
	border-radius: 6px;
	border: double 3px transparent;
	padding: 0.5rem;
	margin-right: 0.5rem;
	background-clip: padding-box, border-box;
	background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(90deg, var(--orange), var(--yellow));
	background-origin: border-box;
	color: var(--darkgrey);
}

.search_box input:focus {
	background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(90deg, var(--orange) 20%, var(--yellow), var(--blue), var(--lightblue), var(--green), var(--yellow), var(--orange), var(--pink), var(--pink), var(--orange) 75%);
	background-position: right center;
	background-size: 400% auto;
	animation: hoverSearch 5000ms ease-in-out infinite;
	outline: none;
}

@keyframes hoverSearch {
	from {
		background-position: left center;
	}

	to {
		background-position: right center;
	}
}

.search_box button {
	font-size: 1.2rem;
	padding: 0.3rem;
	border: 0;
	background-color: var(--blue);
	border-radius: 3px;
}

.search_results {
	min-height: 20rem;
	margin: 0;
	padding: 0;
}
